.artistSidebarBox {
  display: inline-block;
  margin-bottom: 20px;
  height: 230px;
  width: 126px;
}

.text {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: normal;
  margin: -1px;
  color: rgb(153, 153, 153);
}

.grid {
  display: grid;
  grid-template-columns: 60px 60px;
  grid-template-rows: 120px 24px 24px 24px;
}

#image {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  align-self: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.artist {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin-left: auto;
  margin-right: auto;
}

.followers {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  margin-left: 11px;
}

.songs {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  margin-left: 11px;
}

.buttonContainer {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  margin-left: 30px;
  margin-right: auto;
}
.followButton {
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 85, 0);
  color: white;
  padding: 5px;
  
}

.flexSpan {
  display: flex;
  justify-content: space-between;
  width: 240px;
}
